OUTLOOK_EMAIL = "username@xyz.com"
OUTLOOK_APP_PASSWORD = your_16_digit_app_password "abcdefghijklmnop"

MFT_URL=https://random-site.com
MFT_USERNAME= ks*****Harv
MFT_PASSWORD= ~24 character password
MFT_CERT_PATH=./client.crt
MFT_KEY_PATH=./client.key