# Virtual Environment
venv/
.venv/
.env

# Python cache files
__pycache__/
*.pyc

# Database files (since we are using SQLite for now)
*.db
*.sqlite

# Environment variables (API keys, secrets)
.env

# Distribution / Build folders
dist/
build/
*.egg-info/

# Logs
logs/

#Raw Data Files
data/raw/